.nav-bg{
    background-color: rgb(201, 201, 218);
}
.nav-link{
    color: black;
    padding: 30px 10px;
    padding-right: 20px;
    margin: 0;
    border-color: transparent;
    text-decoration: none;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    transition: .3s;
}
.user-name{
    margin-top: -12px;
    padding: 0 10px;
    font-size: 14px;
    text-transform: uppercase;
    width: 150px;
}
.login-btn{
    margin-top: -10px;
}